package ${package}#if(${moduleName}).${moduleName}#end.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}#if(${moduleName}).${moduleName}#end.entity.${className};
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

/**
 * ${comments}
 *
 * @author ${author}
 * @version ${datetime}
 */
public interface ${className}Service extends IService<${className}> {
    /**
    * 带分页和查询条件的查询
    * @param page 分页参数
    * @param ${classname} 查询条件
    * @return 根据查询条件查出的${comments}列表
    */
    IPage<${className}> queryList(Page<${className}> page, ${className} ${classname});
}

